* {
    box-sizing: border-box;
    margin: 0;
    padding: 0; 
}

body {
    font-family: 'lato', sans-serif;
}

h1,h2,h3 {
    font-weight: 300;
}

.color-primary {
    color: #e67e22;
}

.container {
    max-width: 1100px;
    margin: auto;
    padding: 0 2rem;
    overflow: hidden;
}

.text-center {
    text-align: center;
}

img {
    width: 100%;
}

.btn {
    display: inline-block;
    color: #fff;
    background: #e67e22;
    padding: 0.5rem 2rem;
    border: none;
    border-radius: 5px;
    margin-top: 15px;

}
  
.btn:hover {
    background: #cf6d17;
}

.l-heading {
    font-size: 64px;
    margin-bottom: 20px;
    text-transform: uppercase;
}
  
.m-heading {
    font-size: 32px;
    margin-bottom: 20px;
    line-height: 1.1;
    text-transform: uppercase;
}

.logo {
    margin-left: 10px;
}

/* Navbar */
#navbar {
    display: flex;
    background: #fff;
    color: #000;
    justify-content: space-between;
    box-shadow: 0 2px 2px #efefef;
}

#navbar ul {
    display: flex;
    align-items: center;
    list-style: none;
}

#navbar ul li a {
    padding: 12px;
    margin: 12px;
    text-decoration: none;
    color: #000;
}

#navbar li a:hover {
    border-bottom: 2px solid #e67e22;
}

/* Header Content */
#header-banner {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("../img/stockholm.jpg");
    background-size: cover;
    background-position: center;
    height: 95vh;
    margin-bottom: 30px;
}

.header-content {
    text-align: center;
    color: #fff;
    position: absolute;
    top: 250px;
    left:0;
    right: 0;
}

/* Projekt */
.articles-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1rem;
}


